/*Zerando 0s estilos pré defnidas*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*Cabeçalho - slides*/
header{
    width: 100%;
    height: 100%;
   
}

.content{
    position: absolute;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar{
    width: 30px;
    height: 30px;
    border: 5px solid rgb(255, 255, 255);
    margin: 1em;
    border-radius: 50%;
    cursor: pointer;
    transition: .4s;
}

.bar:hover{
    background-color: rgb(255, 255, 0);
}

.slides input{
    display: none;
}

.slides{
    display: flex;
    width: 500%;
    height: 100%;
}

.slide{
    width: 33,33%;
    transition: .6s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .a1 {
    margin-left: 0;
}

#slide2:checked ~ .a1{
    margin-left: -20%;
}

#slide3:checked ~ .a1{
    margin-left: -40%;
}

/*Cabeçalho - navegação*/
.container{
    height: 100vh;
    width: 100%;
    display: flex;
 }

 .flex-item{
     flex-direction: row;
}

 .item1, .item2{
    display: flex;
    height: min-content;
}

.item1{
    margin-left: 6em;
    height: 30px;
    width: 0;
}

.icon1, .icon2{
    position: relative;
    padding: 1em;
 }

 .icon1 img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
 }

 .nav1{
     background:rgb(255, 255, 0);
     margin: 0 0 0 6.8em;
     height: 50px ;
     width: 85.5%;
     border-bottom-left-radius: 25px;
     border-bottom-right-radius: 25px;
     display: flex;  
     position: absolute;
}

.icon2 img{
    width: 30px;
    height: 30px;
}

.nav2{
    position: relative;
    margin: 0 0 0 62em;
}

.nav2 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Helvetica;
}

.nav3{
    background:rgb(255, 255, 254);
    position: absolute; 
    margin: 7em 0 0 6.9em;
    height: 60px;
    width: 85.4%;
    justify-content: right;
    padding: 0 0 0 53em;
}

.nav3 ul li{
    display: inline-flex;
}

.nav3 ul li a{
    text-decoration: none;
    padding: 1.3em 2em 0 2em;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-weight: 700;
}

.item4, .item5{
    position: relative;
    margin: 7em 0 0 25em;
}

.item4 p{
    font-family: 'Kurale', serif;
    font-size: 50px;
    font-weight: bold;
    transition: .5s all;
}

.item4 p:hover{
    color: rgb(255, 255, 0);
    background-color:rgb(255, 0, 179);
    border-radius: 10px;
}

.item5{
    margin: -49em 38em;
    position: absolute;
}

#search1{
    width: 300px;
    height: 30px;
    border: 4px solid rgb(255, 0, 179);
    border-radius: 5px;
    padding: 1em 1.5em ;
    background-color: transparent;
    justify-content: center;
}

#search1::-webkit-input-placeholder{
    color: black;
    font-size: 14px;
    padding-left: 1em;
}

.item5 img{
    display: flex;
    width: 15px;
    height: 15px;
    margin: .5em .5em;
}

.enviar{
    display: flex;
    position: relative;
    margin: -2em 18em;
    background: rgb(255, 0, 179);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: .2em;
}

/*Conteúdo da página*/
.section{
    width: 50%;
    display: block;
    margin: -45em 7em;
    padding: 1em;
    text-align: justify;
}

.section h1{
    font-size: xx-large;
    font-weight: bolder;
}

.section h1, h2, .aside1 h3, .aside2 h3{
    text-align: center;
    margin: 1em  0 1em;
    font-family: cursive;
}

.section p, .aside1 p, .aside2 p{
    font-family: Helvetica;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
}

aside{
    width: 33.3%;
    background: rgba(255, 0, 179, 0.027);
    border-radius: 20px;
    padding: 1em;
}

.aside1{ 
    position: absolute; 
    display:block;
    margin: -80em 55em;
    padding: 1em;
  }

  .aside2{
      position: absolute;
      display: block;
      margin: -50em 55em;
  }

  .aside2 p{
    text-align: center;
    padding: 1em 4em 1em 4em;
}

.p1, .p2{
    border: 5px double rgb(255, 255, 0);
    margin: 1em 0 1em;
}

/*Rodapé da página*/

footer{
    position: absolute;
}

.icon3-1, .icon3-2, .icon3-3{
    width: 30px;
    height: 30px;
}

.footer1{
     position: absolute;
     margin: 1em 10em;
}

.footer1 p{
    font-family: Helvetica;
}

.footer1 h4, .footer2 h4{
    font-size: 22px;
    font-family: cursive;
}

.tel{
    position: absolute;
    width: 100%;
    margin: -1.5em 4em ;
    font-size: 18px;
}

.email{
    position: absolute;
    margin: 2em;
    font-size: 18px;
}

.icon3-1, .icon3-2{
    margin-top: 2em;
}

.icon3-3{
    margin-top: 2em;
}

.footer2{
    position: absolute;
    margin: 18em 10em;
}

.icon4{
 margin: 1em;
}

.footer3 p{
    position: absolute;
    margin: 64em 35em 0;
    font-size: 18px;
    color: rgb(255, 0, 179)
}

.img-footer img{
    margin: 0  0 0 6.8em;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.logo-footer img{
    position: absolute;
    margin: 1em  0 0 73em;
    border-radius: 40%;
}





 



